.App {
  text-align: center;
}

.link-quote {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 150px;
}

.link-quote:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.quote-container {
  display: flex;
  align-items: center;
  min-height: 350px;
}

.ron-image {
  float: left;
  padding: 3em;
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}

form {
  margin-top: 30px;
}

.colours-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.select-colour {
  width: 100%;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
