.app {
  text-align: center;
}

.quote-container {
  display: flex;
  align-items: center;
  min-height: 350px;
}

.ron-image {
  float: left;
  padding: 3em;
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}

form {
  margin-top: 30px;
}

input[type="submit"],
input[type="submit"]:hover {
  transition: all 0.2s linear;
}

.colours-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.select-colour {
  width: 100%;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

/* .app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
